<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="frmSpectra.IsMdiContainer" value="False"/>
		<add key="Form1.IsMdiContainer" value="True"/>
		<add key="frmDecon2LS.IsMdiContainer" value="True"/>
		<add key="mOptCustomDistribution.Checked" value="False"/>
		<add key="mtlbButtonOptions.Text" value="&amp;Options"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
