<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MS_Java_Dev/src/main/java/edu/ucsd/msjava/ui/MSGFDB.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ucsd.msjava.ui.MSGFDB"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s &quot;c:\cygwin\home\kims336\Research\Data\QCShew\small.pwiz.1.1.mzML&quot; -d &quot;c:\cygwin\home\kims336\Research\Data\QCShew\test.fasta&quot; -t 20ppm -tda 1 -c13 1 -nnet 0 -o &quot;c:\cygwin\home\kims336\Research\Data\QCShew\small.pwiz.1.1.mzML.tsv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MS_Java_Dev"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx3500M -ea"/>
</launchConfiguration>
