<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <IQ.Properties.Settings>
      <setting name="LastDatasetPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastTargetFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastWorkflowFilePath" serializeAs="String">
        <value/>
      </setting>
    </IQ.Properties.Settings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.97.0" newVersion="1.0.97.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
